/*
===============
 Clearfix
 http://learn.shayhowe.com/html-css/positioning-content/#practice-1
============
*/

.group:before,
.group:after {
	content: "";
	display: table;
}

.group:after {
	clear: both;
}

.group {
	clear: both;
	*zoom: 1;
}

*,
*:before,
*:after {
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
			box-sizing: border-box;
}

/*
===============
 Typography
============
*/

body {
    font-family: 'Open Sans', sans-serif;
    background: #ffffff;
    line-height: 1.5em;
    width: 100%;
}

h1, h2 {
    margin-bottom: 22px;
}

p {
    margin-bottom: 16px;
}

a {
    text-decoration: none;
    color: #3D7196;
    font-weight: 700;
}

cite {
    font-style: italic;
}
/*
===============
 Main
============
*/

.body-container {
    max-width: 960px;
    min-width: 320px;
    margin: 2em auto;
    padding: 0 1em;
}

.footer-container {
    max-width: 960px;
    min-width: 320px;
    margin: 0 auto;
    padding: 0 1em;
}

.container {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
}

.c1 {
    width: 300px;
    flex-grow: 1;
}

.c2 {
    width: 500px;
    flex-grow: 1;
}

img {
    display: block;
    max-width: 100%;
}

.header-img-container {
    padding: 1em;
}

.header-img {
    border-radius: 5%;
    margin: auto;
    max-height: 300px;
}

.name {
    font-weight: 300;
    font-size: 4em;
    margin: 20px;
    text-indent: -0.4em;
}

.tagline {
    text-transform: uppercase;
    font-size: 1.3em;
}

.project {
    margin: 0 0.3em 1.5em 0.3em;
    font-size: 14px;
}

.project-thumbnail {
    margin-bottom: 22px;
    padding: 0 0.5em;
}

.project-thumbnail img {
    margin: 0 auto;
}


.project h2 {
    font-size: 24px;
    font-weight: 100;
}
.current-status {
    font-size: 14px;
    font-style: italic;
}

.footer {
    background: #224;
}

.footer a,
.footer p {
        color: #fff;
}

.footer .container,
.footer p {
    margin-bottom: 0;
    padding: 10px 0;
}

.section-header h2 {
    color: #000;
    font-size: 2em;
    font-weight: 100;
    padding: 12px 12px 5px 0;
    margin-top: 1.5em;
    margin-bottom: 0;
}

.section-header hr {
    background-image: linear-gradient(to right, #224, transparent);
    border: 0;
    height: 3px;
    margin-bottom: 30px;
}

table.talks {
    border-collapse: collapse;
    margin: 0 0.5em;
}

.talks p {
    margin: 0;
}

.talks td {
    padding: 10px;
}

.talks .event-name,
.talks .event-date {
    text-align: center;
}

.talks .event-date {
    font-size: 0.9em;
    font-style: italic;
}

.talks .event {
    width: 35%;
}

.talk-title {
    font-size: 1.4em;
    width: 50%;
    text-align: center;
}

.small-icon {
    float: left;
    height: 1.5em; 
    margin-right: 10px;
}

.publication-title {
    margin-bottom: 0;
}

.publication-tagline {
    font-style: italic;
}